 .grid-container {
    display: grid;
    grid-template-columns: 1.2fr 6fr;
    grid-template-rows: 1fr;

    grid-template-areas:
      "header content"
      "footer footer";

    height: 100vh;
    // gap: 0.3rem;
  }

  #admin-header {
    // display: flex;
    // flex-direction: column;
    grid-area: header;
    position: fixed;

    .logo{
      margin-bottom: 2rem;
    }

    .admin-nav-menu{
      display: flex ;
      flex-direction: column;
      row-gap: 1.06rem;
      align-items: center;

      .admin-nav-link{

        // Layout
        display: flex;
        width: 16.25rem;
        padding: 0.625rem 1.5625rem;
        align-items: center;
        gap: 1.25rem;

        // Style
        border-radius: 0.625rem;
        border: 1px solid var(--neutral-colors-color-900, #8D8BA7);

        // Typography
        color: var(--neutral-colors-headings-black, #5D5A88);
        font-size: 0.875rem;
        font-weight: 700;
        line-height: 1.75rem; /* 200% */
      }

      .active{
        border: none;
        border-radius: 0.625rem;
        background: var(--neutral-colors-color-400, #F2F1FA);
      }

      .admin-nav-back-btn{
        // Layout
        width: 4.6875rem;
        height: 3rem;
        flex-shrink: 0;

        // Style
        border-radius: 0.625rem;
        background: var(--neutral-colors-color-400, #F2F1FA);
      }
    }
  }

  main {
    grid-area: content;


  .admin-content-wrapper{
      // Layout
      // width: 96.5625rem;
      // height: 53.125rem;
      margin: 0 1rem;
      flex-shrink: 0;

      // Style
      border-radius: 1.5625rem;
      background: var(--neutral-colors-color-300, #F9F9FF);
    }
  }

  footer {
    grid-area: footer;

    .simple-footer-inner{
      display: flex;
      justify-content: flex-end;

     }
  }
