
// Headings

h1{
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.125rem;
}

h2{
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.875rem;
}

h3{
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

h4{
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
}

h5{
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

h6{
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}


// Single one lineer pieces of text, like a banner or some kind of header
.text-body-lg{
  font-size: 1.375rem;
  line-height: 2.25rem;
}

.text-body{
  font-size: 1.125rem;
  line-height: 1.875rem;
}

.text-body-sm{
  font-size: 1rem;
  line-height: 1.75rem;
}

.text-body-xs {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.text-body-xxs{
  font-size: 0.75rem;
  line-height: 1.5rem;
}



.text-single-400{
  font-size: 1.375rem;
  line-height: 1.375rem;
}

.text-single-300{
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.text-single-200{
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.text-single-100{
  font-size: 1rem;
  line-height: 1.125rem;
}
